<ion-view title="days" ng-controller="eventCtrl">
    <div class="topbar">
        <h3> Utopia '17 </h3>
    </div>
    <div class="eventday"><span> <i class="icon ion-calendar"></i> <span>{{currentevent}}</span></span>
    </div>
    <div class="bar bar-header bar-light">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title">Utopia 2k17</h1>
    </div>
    <ion-content class="has-header">
        <div class="eventwrapper">
            <div class="eventinfo">
                <h4><i class="icon ion-location"></i>  Venue : {{currentdict.venue}}</h4>
                <h4><i class="icon ion-clock"></i>  Timings : {{currentdict.timings}}</h4>
                <h4><i class="icon ion-android-phone-portrait"></i>  Contact : <span ng-repeat="i in currentdict.contact">{{i}}, </span></h4>
                <div class="rulewrapper">
                    <p ng-repeat="i in currentdict.rules"><i class="icon ion-checkmark-round"></i>    {{i}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
