<ion-view title="days" ng-controller="daysCtrl">
    <div class="bar bar-header bar-light">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title">Utopia 2k17</h1>
    </div>
    <ion-content class="has-header">
        <br>
        <br>
        <br>
        <div class="event">
            <h3>Event Name</h3>
            <h4>Venue : something</h4>
            <h4>Timings : something</h4>
            <h4>Contact : something</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <button class="button button-stable">
                Check Results
            </button>
        </div>
    </ion-content>
</ion-view>
