<ion-view title="home" ng-controller="eventslistCtrl">
    <div class="topbar">
        <h3> Utopia '17 </h3>
    </div>
    <div class="eventday"><span> <i class="icon ion-calendar"></i> <span>DAY {{currentday}} EVENTS</span></span>
    </div>
    <ion-content class="has-header">
        <div class="eventswrapper">
            <div class="events" ng-repeat="(i,j) in getEvents(currentday)">
                <div ng-click="gotoevent(i,j[0])" class="event cultural" ng-if="j[0]=='cultural'">
                    <i class="icon ion-ios-people"></i>
                    <p>{{i}}</p><span>{{j[1]}}</span>
                </div>
                <div ng-click="gotoevent(i,j[0])" class="event fun" ng-if="j[0]=='fun'">
                    <i class="icon ion-social-snapchat-outline"></i>
                    <p>{{i}}</p><span>{{j[1]}}</span>
                </div>
                <div ng-click="gotoevent(i,j[0])" class="event sports" ng-if="j[0]=='sports'">
                    <i class="icon ion-ios-football-outline"></i>
                    <p>{{i}}</p><span>{{j[1]}}</span>
                </div>
                <div ng-click="gotoevent(i,j[0])" class="event literary" ng-if="j[0]=='literary'">
                    <i class="icon ion-ios-bookmarks-outline"></i>
                    <p>{{i}}</p><span>{{j[1]}}</span>
                </div>
                <div ng-click="gotoevent(i,j[0])" class="event tech" ng-if="j[0]=='tech'">
                    <i class="icon ion-ios-monitor-outline"></i>
                    <p>{{i}}</p><span>{{j[1]}}</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
