<ion-view title="home" ng-controller="homeCtrl" hide-nav-bar="true">
    <ion-content class=" back" hide-nav-bar="true" scroll="false" >
        <div class="homemain">
        <h1 class="heading">Utopia '17</h1>
        <span class="subhead">euphony of euphoria</span>
            <a ng-click="gotosecond()">
                <div class="homebutton">
                    <img src='img/event.png'>
                    EVENTS
                </div>
            </a>
            <div class="homebutton">
            <img src='img/scores.png'>
                RESULTS
            </div>
            <div class="homebutton">
            <img src='img/about.png' style="left:-23%">
                ABOUT
            </div>
        </div>
    </ion-content>
</ion-view>
