<ion-view title="home" ng-controller="homeCtrl" hide-nav-bar="true">
    <img class="back" id="back3" src="img/back4.jpg" />
    <img class="back" id="back2" src="img/back3.jpg" />
    <img class="back" id="back1" src="img/back.jpg" />
    <ion-content hide-nav-bar="true" scroll="false">
        <div class="homemain">
            <h1 class="heading">Utopia '17</h1>
            <span class="subhead">euphony of euphoria</span>
            <a ng-click="gotosecond()">
                <div class="homebutton ripple">
                    <img src='img/event.png'> EVENTS
                </div>
            </a>
            <a ng-click="gotoresults()">
                <div class="homebutton ripple">
                    <img src='img/scores.png'> RESULTS
                </div>
            </a>
            <div class="homebutton ripple">
                <img src='img/about.png' style="left:-23%"> ABOUT
            </div>

        </div>
    </ion-content>
</ion-view>
